.user-item{
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid azure;
    margin: 2px;
    padding: 5px;
    margin-inline-start: 20px;
}