* {
  font-family: "Quicksand", sans-serif;
}
.main-body-container {
  padding: 6px;
  height: 90vh;
  border: 1px;
  margin: .4px;
}
button {
  box-shadow: 4px 4px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #dedede;
  background:  #a1a1a1;
  color: #394349;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
}

h1 {
  margin-inline-start: 50%;
}
.p {
  font-size: 30px;
}

.skills-list{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
}

li {
  margin: 5px;
}
li > div {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}
.input-skills-container {
  margin-bottom: 2%;
  margin-left: 2vw;
}
