<div class="main-body-container">

  <h2>Todo Lists:</h2>

  <section>
    <input type="text" placeholder="search todo by title" (input)="onSearchInputChange($event)" [value]="searchValue"/>
    <div *ngFor="let todo of searchValue ? todosSearchResults : todos; index as i" class="todo">
      <div>
        <span> {{ todo.id }} </span>
       <p class="todo-list-style">{{ todo.title }}</p>
       <span> {{ todo.completed }} </span>
      </div>
      <button (click)="deleteTodos(i)">Delete</button>
    </div>
  </section>

</div>