* {
  font-family: "Quicksand", sans-serif;
}
.main-body-container {
  padding: 6px;
  height: max-content;
  border: 1px;
  margin: .4px;
}
button {
  box-shadow: 4px 4px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #dedede;
  background:  #a1a1a1;
  color: #394349;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
}

h1 {
  margin-inline-start: 50%;
}
.p {
  font-size: 30px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #dedede;
  padding: 5px;
}

.todo > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo > div * {
margin: 5px;
}

.todo-list-style{
  color: rgb(80, 224, 176);
}
